{% extends "newbase.html" %}

{% block content %}

<div>
  <form action="/explore/info" method="post">
    Address:<br>
    <input type="text" name="address"><br>
    Accommodates:<br>
    <input type="text" name="accommodates"><br>
    Property type:<br>
    <input type="text" name="property_type"><br>
    Room type:<br>
    <input type="text" name="room_type"><br>
    Bedrooms:<br>
    <input type="text" name="bedrooms"><br>
    Bathrooms:<br>
    <input type="text" name="bathrooms"><br>
    Price:<br>
    <input type="text" name="price"><br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}